html {
  background-color: white;
  margin: 0 auto;
}

body {
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.2;
  margin: 0 0 0.8em 0;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  margin-bottom: 0;
}

.launch-page h1 {
  font-size: 2.5em;
  margin: 1em 0 .5em 0;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 0 .5em 0;
}

p {
  margin: 0 0 0.8em;
}

a {
  color: #3f51b5;
  text-decoration: none;
  transition: color 150ms ease;
}

a:active, a:focus {
  color: shade(#3f51b5, 25%);
}

a:link {
  color: #3f51b5;
}

a:visited {
  color: shade(#3f51b5, 20%);
}

a:hover {
  color: #F39393;
  text-decoration: underline;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.6em 0;
}

img {
  margin: 0;
  max-width: 95%;
}

header {
  text-align: center;
}

#wrapper {
  display: grid;
/*  grid-template-columns: 75% 23%;*/
  grid-template-rows: 65% 30%;
  grid-gap: 12px;
/*  margin-top:  20px;*/
  height: 100vh;
}

#panel {
/*  grid-column: 1;*/
  grid-row: 1;
  background-color: aliceblue;
  border: solid 1px #bbd6ff;
  padding: 2%;
  position: relative;
  text-align: center;
}

#panel button {
  position: absolute;
  top: 20px;
  left: 20px;
    appearance: none;
  background-color: #b12b00;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.8em 1.6em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#panel button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #8e2200;
  color: #fff;
}

.how-to  {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.how-to img {
  grid-column: 1;
}

.how-to div.how-to-text{
  grid-column: 2;
}

.go-to-activity {
  font-weight: bold;
  font-size: 1.25em;
  margin: 2em 0;

}
.captions  {
/*  grid-column: 1;*/
  grid-row:  2;  
}

.how-to, .captions {
  background-color: aliceblue;
  border: solid 1px #bbd6ff;
  padding: 12px;
}

.how-to ul {
  list-style-type: disc;
  margin-left: 1em;
}

.how-to ul li {
  /*position: relative;*/
  margin-bottom: .75em;
}

/*.how-to ul li.ringing:before {
  background: #fc9d03;
}

.how-to ul li.in-use:before {
   background: #fc9d03;
}*/

/*//PLUGS//*/

.jack {
  stroke:#4D4D4D;
  stroke-width:14;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
    
.label {
  fill:#FFFFFF;
  font-family:'PTSans-Bold';
}

.line {
  stroke:#4D4D4D;
  stroke-width:6;
}

/*//SOCKETS//*/

.sockets {
  max-width: 100%;
  max-height: 100%;
}

.sockets text {
  font-size:  1.75em;
  fill: black;
}

.sockets text.label {
  font-size: 1.2em;
}

/*Moved led colors to Panel.svelte*/

.socket-plate {
  fill: #e1e1e1;
}


/* obsolete stles */
/*.available {
  fill: #BBD6FF;
}

.in-use {
  fill:  #CBF3BD;
}

.ringing {
  fill: #F39393;
}
*/